.icone-linguagem {
  display: flex;
  margin-bottom: 8rem;
  justify-content: center;
  position: relative;
  bottom: 2%;
}

article {
  column-count: 3; /* Define quatro colunas */
  column-width: 500px; /* Define o tamanho das colunas em 300 pixels */
  column-gap: 20px; /* Define um espaçamento de 20 pixels entre as colunas */
  column-rule: 1px solid #ccc; /* Adiciona uma linha vertical entre as colunas, com 1 pixel de espessura e cor cinza claro */
  font-family: Montserrat,sans-serif;
  margin-bottom: 5%;
}

.article-box {
  background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    margin: 0 auto; 
    max-width: 550px;
} 
    
.article-box img {
    width: 100%;
    border: solid 1px #d1d1d1;
}
    
.article-box h2 {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
    font-weight: 600;
}
    
.article-box p {
    font-size: 1.2rem;
    margin-top: 0.75rem;
    color: #5c6269;
    text-align: justify;
    text-decoration: none;
    font-weight: 250;
    line-height: 1.425;
}
  
.titulo-principal {
    background-image: linear-gradient(90deg,#00ffbf, #0cdada, #0980e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat,sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 550;
    margin-top: 1rem;
}
  
.texto-principal {
  color: white;
  font-family: Montserrat,sans-serif;
  font-size: 1.575rem;
  line-height: 2.25rem;
  text-align: center;
  margin-top: 1rem;
}
  
.certificados-container {
  display:flex; 
  justify-content: space-evenly; 
  flex-direction: row-reverse;
  flex-wrap: nowrap; 
  align-items: flex-start;
}

.box-descricao {
  border: solid 1px black;
  padding: 5px;
  font-size: 15px;
}

.animacao-contato {
  width: 400px;
    height: 550px;
    display: flex;
    align-items: center;
}

li :hover {
    transform: scale(1.07); /* aumenta o tamanho em 10% */
}

li > a {
    transform: scale(1); /* impede que o elemento <a> aumente */
}

.align-items-center .mb-4 {
  justify-content: center;
}

* {
    text-decoration: none;
}
  
@media (min-width: 475px) {
  article {
      display: flex;
  }
}

@media (max-width:766px) {
  .certificados-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 1.5rem;
  }

  .align-items-center .mb-4 {
    width: 100%;
    justify-content: center;

  }

  .icone-linguagem {
    margin-bottom: 2rem;
    bottom: 5%;
  }
}

@media (min-width:1336px) {
  .align-items-center .mb-4 {
    width: 250px;
  }
}
  
@media (min-width:766px) and (max-width:1336px) {
  .align-items-center .mb-4 {
    min-width: 160px;
  } 
  .certificados-box { 
    margin-left: 2rem;
  }

  .icone-linguagem {
    margin-bottom: 4rem;
    bottom: 3%;
  }
}

@media (max-width:1329px) {
  .animacao-contato {
    display: none;
  }
  #botao-curriculo {
    display: none;
  }
}